{% extends "deliveryboyapp/master.html" %}
{% load static %}
{%block content %}	

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Delivery boy</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">City</th>
        <th scope="col">Approx Weight</th>
        <th scope="col">Timeslot</th>
        <th scope="col">Action</th>

      </tr>
    </thead>  
    <tbody>
      {% for xy in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{xy.user}}</td>
        <td>{{xy.checkout.name}}</td>
        <td>{{xy.checkout.email}}</td>
        <td>{{xy.checkout.email}}</td>
        <td>{{xy.checkout.email}}</td>
        <td>{{xy.approxweight}}</td>
        <td> {% if xy.timeslot == 1 %}8am to 10am {% elif xy.timeslot == 2 %}10am to 12pm {% elif xy.timeslot == 3 %}12pm to 2pm 
          {% elif xy.timeslot == 4 %}2pm to 4pm {% elif xy.timeslot == 5 %}4pm to 6pm {% elif xy.timeslot == 6 %}6pm to 8pm  {% endif %}</td>

        <td>
           <form method="post" action="/deliveryboyapp/acceptrequest/{{xy.id}}/">
            {% csrf_token %}
            
           
           {% if xy.is_active == False %}<button type="submit" hidden>Accept</button> {% else %} <button type="submit">Accept</button>{% endif %}
          </form> 
        </td>    
        <td>
          <form method="post" action="/deliveryboyapp/rejectrequest/{{xy.id}}/">
           {% csrf_token %}
           
         </form> 
       </td>  
      {% endfor %}

      </tr> 
      </tbody>
    </table>

    </table>
  

{% endblock %}