{%extends "master.html"%}
{%load static%}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Detailed Order</h5>
      <!-- Bordered Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sub Total</th>
            <th scope="col">Products</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
            {% for xy in conf_order%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><b>Rs.</b> {{ xy.subtotal }} </td>
            <td>{{xy.product.name}}</td>
            <td>{{xy.quantity}}</td>
            
            {% endfor %}
        </tr>
          
        </tbody>
      </table>
      <div>
        Total :<b> Rs.</b> {{final.total}} <b>After GST</b>
      </div>
      <!-- End Bordered Table -->
{% endblock %}